[run]
branch = False
omit =
    # Mujoco requires a licence
    stable_baselines/*/run_mujoco.py
    stable_baselines/ppo1/run_humanoid.py
    stable_baselines/ppo1/run_robotics.py
    # HER requires mpi and Mujoco
    stable_baselines/her/experiment/*
    tests/*
    setup.py

[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError()
    if KFAC_DEBUG:
